<h4 class="pageheader">Accommodation</h4>
<ul>
<li><a href="#accnearcampus">Near Campus</a></li>
<li><a href="#accdowntown">Downtown</a></li>
</ul>
<hr />

<a name="accnearcampus"></a><h4>Near Campus</h4>

<p><strong>Campus Tower:</strong> Campus Tower (as you might have guessed) is located directly on the university campus. One bedroom suites are available at the special rate of $139/night, and a limited number of junior suites are available for $129/night. Phone 1-800-709-1824 to book your room, and make sure to reference either GFC340 or Popular Print Culture in order to receive the discounted rate. The cut-off date for this block of rooms is June 25, but the junior suites will need to be reserved much earlier.</p>
 
<ul>
<li><a href="http://www.unlimitedreservationservices.com/urs/hotels/canada/alberta/edmonton/campus_tower/overview">Campus Towers Overview & Reservations</a></li>
</ul>
<p>Directions from Campus Towers to PopPrint:<br /> Follow the <a href="http://maps.google.com/maps?f=d&saddr=11145+87+Ave+edmonton&daddr=111+St+NW+%4053.525692,+-113.517790&hl=en&geocode=12287023611542134674,53.525692,-113.517790&mra=ls&dirflg=w&sll=53.52172,-113.5085&sspn=0.016456,0.037808&ie=UTF8&ll=53.52429,-113.51848&spn=0.008228,0.018904&z=16" target="newwindow">google map</a> from point A to point B -- then refer to the campus map. Point B on the google map is the equivalent of D8 on the <a href="http://www.campusmap.ualberta.ca" target="newwindow2">campus map</a>. From the Campus Map walk across the big grey patch marked NN (this is a parking lot) to the building with ID# 55 (Humanities Centre) located at D7.</p>

<hr class="hotels">

<p><strong>Varscona Hotel:</strong> We have secured a corporate rate of $140/night with the Varscona, based on single or double occupancy. The hotel is located about 20 minutes walking distance from campus, on Whyte Avenue. Blocks of deluxe rooms will be held for conference participants until July 26. Reserve your room by phoning 1-866-465-8150 or emailing reservations@varscona.com. Make sure to indicate your participation in the Popular Print Culture conference to receive the discounted rate. 
</p> 
<ul>
<li><a href="http://www.varscona.com">Varscona Hotel</a></li>
</ul>
<p>Directions from Varscona Hotel to PopPrint: Follow the <a href="http://maps.google.com/maps?f=d&saddr=10454+82+Ave+NW,+Edmonton,+Alberta,+Alberta,+Canada&daddr=53.525692,-113.517694&hl=en&geocode=16940477490729573510,53.525360,-113.517790&mra=dme&mrcr=0&mrsp=1&sz=15&dirflg=w&sll=53.52172,-113.5085&sspn=0.016456,0.037808&ie=UTF8&z=15" target="newwindow">google map</a> from point A to point B -- then refer to the campus map. Point B on the google map is the equivalent of D8 on the <a href="http://www.campusmap.ualberta.ca" target="newwindow2">campus map</a>. From the Campus Map walk across the big grey patch marked NN (this is a parking lot) to the building with ID# 55 (Humanities Centre) located at D7.</p>
<hr class="hotels">

<p><strong>Mettera Hotel:</strong> The Mettera is a boutique hotel located near the university (a 20 minute
walk). The Mettera is offering a corporate rate of $160 for conference attendees. Please
be sure to mention your association with the Popular Print Culture conference to secure
this rate. You can book rooms online or through their toll free number 1-866-465-8150.
</p>
<ul>
<li><a href="http://www.metterra.com/">The Mettera</a></li>
</ul>
<p>Directions from The Mettera to PopPrint: Follow the <a href="http://maps.google.com/maps?f=d&saddr=10454+82+Ave+NW,+Edmonton,+Alberta,+Alberta,+Canada&daddr=53.525692,-113.517694&hl=en&geocode=16940477490729573510,53.525360,-113.517790&mra=dme&mrcr=0&mrsp=1&sz=15&dirflg=w&sll=53.52172,-113.5085&sspn=0.016456,0.037808&ie=UTF8&z=15" target="newwindow">google map</a> from point A to point B -- then refer to the campus map. Point B on the google map is the equivalent of D8 on the <a href="http://www.campusmap.ualberta.ca" target="newwindow2">campus map</a>. From the Campus Map walk across the big grey patch marked NN (this is a parking lot) to the building with ID# 55 (Humanities Centre) located at D7.</p>
<hr class="hotels">

<p><strong>The University of Alberta</strong> offers guest accommodations at the <strong>Lister Conference Centre</strong>. Located on campus, the rooms are well appointed, and offered at relatively low rates, from $95 to $125 per day. Only twenty rooms are available, so interested delegates are encouraged to visit their website as early as possible.</p>
<ul>
<li><a href="http://www.uofaweb.ualberta.ca/conferenceservices/nav02.cfm?nav02=23472&nav01=23453">University of Alberta Conference Services</a></li>
</ul>
<hr class="hotels">

<p><strong>Edmonton Youth Hostel</strong> is within walking distance of the University. It offers budget rates at $28-$32 for a shared room and $64-$79 for a private room (cheaper rates for members). For more information, check their website at
</p>
<ul>
<li><a href="http://www.hihostels.ca/alberta/en/index.aspx?sortcode=2.2">Edmonton Youth Hostel</a></li>
</ul>
<p>Directions from Edmonton Youth Hostel to PopPrint: Follow the <a href="http://maps.google.com/maps?f=d&saddr=10647+81+Ave+edmonton&daddr=53.525845,-113.51778&hl=en&geocode=15693292083094711392,53.525666,-113.517790&mra=dme&mrcr=0&mrsp=1&sz=15&dirflg=w&sll=53.524289,-113.507824&sspn=0.016175,0.035405&ie=UTF8&z=15" target="newwindow">google map</a> from point A to point B -- then refer to the campus map. Point B on the google map is the equivalent of D8 on the <a href="http://www.campusmap.ualberta.ca" target="newwindow2">campus map</a>. From the Campus Map walk across the big grey patch marked NN (this is a parking lot) to the building with ID# 55 (Humanities Centre) located at D7.</p>

<hr />
<a name="accdowntown"></a><h4>Downtown</h4>

<p><strong>MacEwan Residence</strong> at Grant McEwan College&#8217;s city Centre Campus is a short LRT ride from campus. It offers easy access to major highways, public transit and the LRT to the U of A, restaurants, shopping, entertainment, and Edmonton&#8217;s spectacular river valley.</p>

<p>MacEwan Residence has nine hotel style guest rooms available during this time (Queen Guest room $75 / night; Queen/double Guest room $85 / night + applicable taxes). Each room features:</p>
<ul>
<li>a private bathroom with tub and shower </li> 
<li>refrigerator with access to a microwave oven (dishes not provided)</li>
<li>bedrooms equipped with a queen bed complete with sheets, blankets and pillows (some rooms have a queen & double bed)</li>
<li>complimentary local telephone service</li>
<li>high speed Internet for a minimal fee  (wireless not available)</li>
<li>housekeeping service with linen and towel change daily</li>
<li>satellite TV</li>
<li>coffee maker, clock radio, iron & board</li>
</ul>
<p>MacEwan Residence also offers the following for guest convenience:</p>
<ul>
<li>laundry facilities with a cash card system</li> 
<li>parking for individual vehicles adjacent to the residence</li>
<li>easy access to fitness facilities and swimming pool</li> 
<li>convenience store, vending machines and bank machine (ATM) in the lobby</li>
<li>front desk staffed 24 hours/day. Check-in after 3 p.m.; check-out is by 11 a.m.</li>
<li>secure room reservations with a Visa or MasterCard number</li>
</ul>
<p>Visit <a href="www.macewan.ca/residence">www.macewan.ca/residence</a> for a virtual tour of the facilities.</p>
<p>MacEwan Residence is a smoke free environment. There is a designated smoking area outside the residence for guest convenience. Sorry, pets are not permitted.</p>
<p>For further information and room reservations please contact the Group accommodations coordinator at:</p>
Ph: 780-633-3623<br />
Fax: 780-497-4264<br />
Email: <a href="mailto:conferenceoffice@macewan.ca">conferenceoffice@macewan.ca</a>
</p>
<hr />