<h4 class="pageheader">Call for Papers</h4>
<ul>
<li><a href="#about">About the Conference</a></li>
<li><a href="#proposals">Proposals</a></li>
<li><a href="#guidelines">Guidelines</a></li>
<li><a href="#submission">Submission</a></li>
<li><a href="#deadline">Deadline</a></li>
</ul>
<hr />

<a name="about"></a><h4>About the Conference</h4>
<p>This is an international conference to be held in Edmonton, Alberta, Canada from 27 to 30 August 2008. The conference and its associated popular culture festivals consider what most people read, here and elsewhere, now and in the past. Though popular print shows an almost overwhelming diversity, adaptability, and mobility over the centuries, and around the world, it is still measured&#8212;and too often disparaged&#8212;in relation to canonical literature and "high" culture. Yet people read what they do because they find it interesting, and they find it interesting because it speaks to their real material interests, in everyday life. Popular print characteristically includes both words and images, and it is intertwined with music and performance. In these forms it has been and continues to be the most powerful cultural force in human history. Morphing into new media and new technologies, from the phonograph record through radio, film, and television to video games and the internet, it continues to be an awesome cultural, ideological, and political force.
</p>
<p>The conference program of papers and presentations and concurrent popular culture festivals include a series of public events that illustrate, celebrate, create, and show the mobility of popular print cultures. There will be reports and displays by students from around the world on popular print cultures in their own countries and regions&#8212;their own "local." There will be open-floor forums for participants to discuss popular print cultures informally, as issues arise from and during the conference. There will be a film festival featuring a repertory cinema of global Popular Films from Popular Books; a comics festival highlighting the work of local artists and publishers; and a writers festival bringing together authors, aspiring writers, and fans in discussions, panels, and workshops.
</p>
<p>Popular print culture is now a global phenomenon, with striking similarities in what most people read, anywhere. Yet there are also striking local differences, inflections, and variations in what most people read, here or elsewhere. In this complex crossing of the local and global, Canada is one of the leading players, through Harlequin enterprises. The "Continuities and Innovations" conference and festival will bring together in Harlequin's homeland all those who are interested in popular print culture&#8212;readers and writers, publishers and fans, distributors and sellers, librarians and collectors, researchers and adapters, teachers and students, and of course student and full-time researchers in many academic disciplines.
</p>
<a name="proposals"></a><h4>Proposals</h4>
<p>Proposals are welcomed from all of these groups for "Continuities and Innovations," directly addressing the conference theme, or taking up any aspect of "Popular Print Cultures, Past and Present, Local and Global." Topics can include relations between popular print and other media, between popular and "high" literatures, between words and images, between words and music. Presentations can be from writers, readers, publishers, teachers, students, distributors, sellers, librarians, illustrators, opponents, promoters, adapters to other media, fans, collectors &#8230; Papers and presentations can be on censorship of popular print and undergrounds and underworlds of popular print, on reading it and creating it, publishing it and selling it, counteracting it or transforming it, adapting it and influencing it. Participants can consider popular print and politics, religion, sexuality, class, ethnicity, "race," nationality, or any other theme.
</p>
<a name="guidelines"></a><h4>Guidelines</h4>
<p>Proposals should be about 200 words in length and clearly state the central theme or argument, the kind of popular print or related media to be considered, and its social and cultural location in time and place. Each proposal should be accompanied by a brief resum&eacute; stating the name, address, contact information, and relevant academic, professional, or personal background and knowledge of popular print culture or the particular aspect discussed.
</p>
<p>Program and other information, including travel and accommodation details, constantly updated, are available on the conference website: <a href="http://www.arts.ualberta.ca/popprint">www.arts.ualberta.ca/popprint</a>.
</p>
<a name="submission"></a><h4> Submission</h4>
<p>Proposals should be sent by email as a pasted-in document or as an attachment in an up-to-date format to: <a href="mailto:popprint@ualberta.ca">popprint@ualberta.ca</a>.
</p>
<p>Alternatively, a hard copy may be mailed to: Popprint, Gary Kelly, Department of English and Film Studies, University of Alberta, Edmonton, Alberta, Canada T6G 2E5. Any questions or requests to display materials or put on conference-related special events should be sent to either of these addresses.
</p>
<a name="deadline"></a><h4> Deadline</h4>
<p>Deadline for proposals is 30 May 2008.</p>
<hr />