<h4 class="pageheader">Contact Us</h4>
<!--<ul>
<li><a href="#speakers">Featured Speakers</a></li>
</ul>
<a name="speakers"></a><h4>Contact Us</h4>-->


<p><strong>Popprint</strong> c/o Professor Gary Kelly<br />
Dept. of English and Film Studies<br />
Humanities Centre 3-5, University of Alberta <br />
Edmonton, Alberta   T6G 2E5<br />
Canada</p>
<p>E-mail: <a href="mailto:popprint@ualberta.ca">popprint@ualberta.ca</a></p>
<hr />
<a name="#committee"></a><h4>Organizing Committee</h4>

<div id="gary"><img src="/images/B-Gary.jpg" alt="Gary Kelly, Conference Director" /><br />
<h4>Gary Kelly<br /> 
Conference Director</h4></div>

<div id="kirsten">
<img src="/images/B-Kirsten-H.jpg" alt="Kirsten MacLeod, Conference Coordinator" /><br />
<h4>Kirsten MacLeod<br />
Conference Coordinator</h4></div>

<div id="paul">
<img src="/images/B-Paul.jpg" alt="Paul Campbell, Conference Coordinator" /><br />
<h4>Paul Campbell<br />
Conference Coordinator</h4></div>

<div id="melanie">
<img src="/images/B-Melanie.jpg" alt="Melanie Faulknor, Conference Coordinator and Writers Festival Curator" /><br />
<h4>Melanie Faulknor<br />
Conference Coordinator,<br />
Writers Festival Curator</h4></div>

<div id="orion">
<img src="/images/B-Orion.jpg" alt="Orion Ussner Kidder, Comics Festival Curator" /><br />
<h4>Orion Ussner Kidder<br />
Comics Festival Curator</h4></div>

<div id="michelle"><img src="/images/B-Michelle.jpg" alt="Michelle Wolstenholme, Web &amp; Graphic Designer" /><br />
<h4>Michelle Wolstenholme<br />
Web & Graphic Designer</h4></div>
