<h4 class="pageheader">PopPrint Festival</h4>
<p>All festival events are FREE. Join our PopFest Comics Battle on August 28th or any of the daily workshops with comic artists, science fiction and mystery writers, romance novelists and children's illustrators. PopFest will host a special appearance by International best-selling author Janette Oke. A schedule of festival events is available <a href="#schedule">here</a></p>

<ul>
<li><a href="#comics">Comics Festival</a></li>
<li><a href="#writers">Writers Festival</a></li>
<li><a href="#schedule">Schedule of Events</a></li>
</ul>
<hr />

<a name="comics"></a><h4>Comics Festival</h4>
<p>As part of the broader conference, the Comics Festival aims to create a space in which creators, vendors, publishers, fans, and academics can talk, compare experiences, and learn more about the culture, business, and art of comics. Confirmed guest speakers include:</p>

<p><strong>Malcolm "Minister Faust" Azania: Television Host, Radio Host, Author</strong><br />
Malcolm Azania hosts <em>Help TV</em>! in Edmonton and has written two novels under
the pen name "Minister Faust": <em>Coyote Kings of the Space-Age Bachelor Pad</em>
and <em>From the Notebooks of Doctor Brain</em>. His CJSR programme, <em>The
Terrordome</em>, is a venue for political activism and discussion on issues of
"Afrikans, their communities, histories, politics and cultures."</p>

<p><strong>Jay Bardyla: Owner/Operator of Happy Harbor, Organiser of <em>Pure
Speculation</em> (2006 and 2007)</strong><br />
Jay Bardyla has owned Happy Harbor since 1999 and has since turned it into a
hub of comics-related events and culture. He has organised <em>Pure Speculation</em>
for two years, hosts regular Comics Jams and other community
events at Happy Harbor "Volume 1" (the downtown location), and has appeared
on <em>Help TV</em>.</p>

<p><strong>Rachel Edidin: Assistant Editor (Dark Horse Comics), Independent Scholar</strong><br />
Rachel Edidin is an assistant editor at Dark Horse Comics, a board member of
Girl-Wonder.org, and an independent writer, journalist, and scholar. She is
a regular contributor to <em>Sequential Tart</em> and has most recently been
published in <em>Gulf Coast</em>.</p>

<p><strong>Trina Robbins: Comix artist, Independent Scholar, Herstorian</strong><br />
Trina Robbins is one of the original Underground comix artists of the
1960s/70s. She is a founding member of <em>Wimmin's Comics</em>, a feminist comics
anthology that ran from the 70s to the 90s. She has also written 
critical texts on female cartoonists and characters, including  <em>The Great
Women Superheroes</em> and <em>Woman and Comics</em>.</p>


<hr />
<a name="writers"></a><h4>Writers Festival</h4>
<p>Edmonton's first festival for authors, aspiring writers and fans. The programme will include panels, readings, signings and showcases with writers and fans from all genres in popular print. A chance to experience and appreciate why we love what we read and the people behind the stories.</p>
<p>The writers' festival  includes a special autograph party by Janette Oke.</p>
<p>
<strong>Janette Oke</strong> lives in Alberta, Canada, and is a writer of historical novels, children's stories, and inspirational gift books. Her first novel, a prairie love story titled <em>Love Comes Softly</em> (Bethany House, 1979), was followed by more than 75 other books, which have sold over 23 million copies and been translated into fourteen languages, reaching both religious and general markets. She has received numerous awards, including the Gold Medallion Award; The Christy Award of Excellence; the 1992 President's Award for significant contribution to Christian fiction, from the Evangelical Christian Publishers Association; and in 1999 the Life Impact Award from the Christian Booksellers Association International.  
</p>


<p>Genre sessions with guest authors include:</p>

<p><strong>Mary M Forbes</strong>, self-published romance author of <em>Hawk's Gift</em> and <em>Alberta Wild Rose</em>. With the help of a best-selling self-published Canadian author, Forbes decided to self-publish her own manuscripts. She is a graduate of Western University and worked as a professional editor before deciding to write.<br />
Session topic: <strong>"The Pros &amp; Cons of Self-Publishing"</strong></p>

<p><strong>Paula Eykelhof</strong> is an Executive Editor at Harlequin and MIRA Books. She has been with the company,working  in-house, since 1986. She was responsible for running a number of romance series, as well as editing the work of mainstream authors like New York Times bestselling writer Debbie Macomber, with whom she has worked for almost 25 years. She has an MA in English from York University and has also been a researcher at the CBC.<br />
Session topic: <strong>"Publishing your Romance Novel"</strong> with Stella MacLean</p>
  
<p><strong>Sarah Jackson</strong>, graphic designer and illustrator of <em>A Jam Story</em> series. She has greeting card designs and illustrations sold throughout North America and illustrated the children's book, <em>The Shapes That Tessel Ate</em>, that was selected for the University of Alberta's Coutts Education Collection.<br />
Session topic: <strong>"Question and Answer About Book Creation and Illustration"</strong></p>

<p><strong>Susan MacGregor</strong> Her published work has appeared in <em>On Spec</em>, <em>Northern Frights</em>, and other venues. In 1998, her anthology, <em>Divine Realms</em>, which features seventeen writers from across Canada and the U.S., was published through Ravenstone Press in Winnipeg. Her most recent book, <em>The ABCís of How NOT to Write Speculative Fiction</em> was published in 2006 by the Copper Pig Writerís Society.
Session Title: <strong>ìThe ABCís of How NOT to Write Speculative Fictionî</strong></p>

<p><strong>Stella MacLean</strong> is a Harlequin author from Atlantic Canada. Her first novel, <em>Heart of My Heart</em> was published by Harlequin in April 2008 and a second title is forthcoming.<br />
Session topic: <strong>"Publishing your Romance Novel"</strong> with Paula Eykelhof</p>

<p><strong>Bronwyn Storm</strong>, romance writer based in Edmonton.  Author of short stories &#8220;I Love You a Latte&#8221; and &#8220;The Genie's Curse&#8221; and a novel to be released this winter <em>Ethan's Chase</em> by The Wild Rose Press.<br />
Session topic: <strong>"Writing and Being Published in the Romance Industry"</strong></p>

<p><strong>Diane Walton</strong> An editor with <em>On Spec</em> since the premiere issue in 1989, and she is currently Managing Editor. She is a published author, with stories on CBCís ìAlberta Anthologyî as well as in <em>On Spec</em>, <em>Northern Frights</em>, and <em>Divine Realms</em>.
Session Title:  <strong>ìThe ABCís of How NOT to Write Speculative Fictionî</strong></p>

<p><strong>Sharon Wildwind</strong>, author of the Elizabeth Pepperhawk/Avivah Rosen Vietnam veteran mystery series. She also wrote a non-fition book about her year as a nurse with the US Army in Vietnam and has a mystery-romance series in progress set at a nursing station in Northern Alberta. <br />
Session topic: <strong>"Avoid the 3rd Person Myth: Turn Telling into Showing"</strong></p>    


<hr />
<a name="schedule"></a>
<h4>Schedule of Events</h4>
<table class="schedule">

  <tr class="date">
    <td colspan="3">Thursday, August 28th</td>
  </tr>
  <tr class="event">
    <td class="time">12pm to 1pm </p></td>
    <td class="description">Comics Fest: <strong>Comix Battle! </strong>hosted by Jay Bardyla</td>
    <td class="location">Humanities Centre<br />2-15</td>
  </tr>
  <tr class="event2">
    <td class="time">12pm to 1pm</td>
    <td class="description">Writers Fest: &quot;Writing and Being Published in the Romance Industry&quot; with <strong>Bronwyn Storm</strong></td>
    <td class="location">Humanities Centre<br />2-14</p></td>
  </tr>
  <tr class="event">
    <td class="time">1pm to 2pm</td>
    <td class="description">Comics   Fest: &quot;Creating Communities&quot; with <strong>Minister Faust </strong>and <strong>Jay Bardyla</strong></td>
    <td class="location">Humanities Centre<br />2-15</td>
  </tr>
  <tr class="event2">
    <td class="time">2pm to 3pm</td>
    <td class="description">Writers Fest: &quot;The Pros &amp; Cons of Self-Publishing&quot; with <strong>Mary M. Forbes</strong></td>
    <td class="location">Humanities Centre<br />2-14</td>
  </tr>
  <tr class="event">
    <td class="time">3pm to 4:30pm </p></td>
    <td class="description">Writers Fest: &quot;The ABCís of How Not to Write Speculative Fiction&quot; with <strong>Diane Walton</strong> and <strong>Susan MacGregor</strong></td>
    <td class="location">Humanities Centre<br />2-14</td>
  </tr>
  <tr class="date">
    <td colspan="3">Friday, August 29th</td>
  </tr>
  <tr class="event">
    <td class="time">12pm to 1pm</td>
    <td class="description">Writers Fest: &ldquo;Beginning Your Children's Book&rdquo; with <strong>Sandra Ward</strong></td>
    <td class="location">Humanities Centre<br />2-14</td>
  </tr>
  <tr class="event2">
    <td class="time">1pm to 2pm</td>
    <td class="description">Comics Fest: &quot;Straddling Fields&quot; with <strong>Trina Robbins </strong>and <strong>Rachel Edidin</strong></td>
    <td class="location">Humanities Centre<br />L-2</td>
  </tr>
  <tr class="event">
    <td class="time">2:30pm to 3:30pm</td>
    <td class="description">Writers Fest: &quot;Avoid the 3rd-Person Myth: Turn Telling into Showing&quot; with <strong>Sharon Wildwind</strong></td>
    <td class="location">Humanities Centre<br />2-14</td>
  </tr>
  <tr class="event2">
    <td class="time">3pm to 4pm</td>
    <td class="description">Comics Fest: &quot;The Pro Panel&quot; with <strong>Rachel Edidin, Bob Prodor</strong>, and <strong>Andrew Foley</strong></td>
    <td class="location">Humanities Centre 2-15</td>
  </tr>
  <tr class="event">
    <td class="time">3:30pm to 4:30pm</td>
    <td class="description">Writers Fest: &quot;Writing and Being Published in the Romance Industry&quot; with <strong>Bronwyn Storm</strong></td>
    <td class="location">Humanities Centre<br />2-14</td>
  </tr>
  <tr class="date">
    <td colspan="3">Saturday, August 30th</td>
  </tr>
  <tr class="event">
    <td class="time">10am to 11am</td>
    <td class="description">Writers Fest: &quot;Publishing your Romance Novel&quot; with <strong>Paula Eykelhof </strong>and <strong>Stella MacLean</strong></td>
    <td class="location">Humanities Centre<br />2-14</td>
  </tr>
  <tr class="event2">
    <td class="time">11am to 12pm</td>
    <td class="description">Writers Fest: Book Signing with <strong>Janette Oke</strong></td>
    <td class="location">Humanities Centre<br />
    L-2</td>
  </tr>
  <tr class="event">
    <td class="time">2pm to 3pm</td>
    <td class="description">Writers Fest: &quot;Question and Answer About Book Creation and Illustration&quot; with <strong>Sarah Jackson</strong></td>
    <td class="location">Humanities Centre<br />2-14</td>
  </tr>
</table>
<hr />