<h4 class="pageheader">Around Edmonton</h4>
<ul>
<li><a href="#restaurants">Restaurants</a></li>
<ul>
<li><a href="#oncampus">On Campus</a></li>
<li><a href="#nearcampus">Near Campus</a></li>
<li><a href="#oldstrathcona">Old Strathcona</a></li>
<li><a href="#downtown">Downtown</a></li>
</ul>
<li><a href="#nightlife">Nightlife</a></li>
<li><a href="#newbooks">Booksellers</a></li>
<ul>
<li><a href="#newbooks">New Books</a></li>
<li><a href="#usedbooks">Used Books</a></li>
<li><a href="#comics">Comics</a></li>
</ul>
</ul>

<hr />
<a name="restaurants"></a><h4>Restaurants</h4>
<p>The University area and the nearby Garneau and Strathcona neighbourhoods feature a wide range of restaurants to suit all budgets.  Downtown, which is just a short LRT or bus ride away, also features a variety of dining options. An asterisk indicates a location that comes recommended by the popular print culture conference organizers.</p> 
<ul>
<li><a href=" http://www.edmontondining.com/">Edmonton Dining</a><br />
A website with a comprehensive listing of Edmonton dining options.</li>
</ul>
<hr />
<a name="oncampus"></a><h4>On Campus</h4>
<ul>
<li>CAB (Central Academic Building) &#8211; Tim Horton's, Booster Juice.</li>
 <br />
<li>HUB Mall &#8211; A & W Restaurant, Academy Pizza, Bar Teca, Beez Health Food, Cookies by George, Edo Japan, Eurasian Bistro, Ho Ho Chinese Food, Java Jive, International Fare, Korean Food Restaurant, La Pasta Trattoria, Subway, Motherly Sandwich Shop, New York Fries, Pita Pazzaz, Sweets and Treats, and The Jacket Potato Man.</li>
 <br />
<li>Room at the Top (Pub) <br />
7th Floor, Student's Union Building <br />
M, Tues, Thurs 11am-8pm, W/F 11am-12am, Sat/Sun Closed</li>
 <br />
<li>Rutherford House<strong>*</strong><br />
11153 Saskatchewan Drive ph. 422-2697 <br />
T-Su: 11-4 <br />
Beautiful setting and historic house. The Arbour room serves tea and a very nice lunch. Reservations are strongly recommended.</li>
 <br />
<li>SUB (Student's Union Building) &#8211; Java Jive, Edo Japan, Marco's Famous Burgers, Funky Pickle Pizza, Subway, Cram Dunk Doughnuts, L'Express Fresh Food, Juicy Smoothie Bar.</li>
</ul>    
<hr />
<a name="nearcampus"></a><h4>Near Campus</h4>
<ul>
<li>Booster Juice (Sandwich and Juice Bar)<br />
8623-112 Street ph.988-7824<br />
Mon-Fri 8am-9pm, Sat 9am-9pm, Sun 10am-6pm</li>
<br />
<li>Da Capo<strong>*</strong> (Italian caf&eacute;; pizza, sandwiches, salads, and soups; gelato)<br />
8738 109 Street ph 433-5382<br />
Everything here is excellent. They do not do take away, even for coffee, unless you bring your own mug.</li>
<br />
<li>The Highlevel Diner (Various/Vegetarian)<br />
10912-88 Ave ph.433-0993<br />
Mon-Sat 8am-12am, Sun 9am-10pm</li>
<br />
<li>Hudsons Canadian Tap House (Pub) http://www.hudsonstaphouse.com<br />
11113-87 Avenue ph. 433-6364<br />
Mon-Sun 11:30am-2am</li>
<br />
<li>Kyoto Japanese Cuisine (Japanese)<br />
8709 109 Street ph.(780) 414-6055<br />
Sun-Thurs 11am-10pm, Fri/Sat 11am-11pm<br />
One of two rather good Japanese options near the university.</li>
<br />
<li>Leva <strong>*</strong> (Italian caf&eacute;; pizza, gelato, good sweets)<br />
11053 86 Avenue ph. 479-5382<br />
Competitor to Da Capo. Also very good.</li>
<br />
<li>Organic Roots (Various)<br />
8225-112 Street (780) 414-0788<br />
Mon-Fri 8am-7pm, Sat 9am-5 pm, Sun 10am-4 pm (brunch served until 3pm)</li>
<br />
<li>Remedy (Indian and Pakistani Caf&eacute;)<br />
8631-109 Street (780) 433-3096<br />
Mon-Sun 8am-12am</li>
<br />
<li>The Sugar Bowl (Caf&eacute;/Coffee Shop)<br />
10922-88 Ave ph.433-8369<br />
Mon-Fri 7am-12am, Sat/Sun 8am-12am<br />
Funky independent coffee shop and restaurant with an interesting menu.</li>
<br />
<li>Upper Crust Caf&eacute; and Caterers <strong>*</strong> (Various)<br />
Breakfast available<br />
10909-86 Ave ph.433-0810 <br />
Fri 11am-9pm, Sat 9:30am-9pm, Sunday Closed<br />
Good standard fare.</li>
<br />
<li>Yokozuna<strong>*</strong>  (Japanese)<br />
8409 112 St. ph. 430-3673<br />
Very good sushi and sashimi.</li> 
</ul>
<hr />
<a name="oldstrathcona"></a><h4>Old Strathcona</h4>
<ul>
<li>Block 1912 (Caf&eacute;/Coffee Shop) <br />
10361-82 Ave ph.433-6575  <br />
Mon-Sat 9am-12am, Sun 10am-12am</li>
<br />
<li>Caf&eacute; Mosaics (Vegetarian) <br />
10844-82 Ave ph.433-9702 <br /> 
Mon-Sat 9am-9pm, Sun 11am-2:30pm</li> 
<br />
<li>Chianti (Italian)  <br />
10501-82 Ave ph.439-9829 <br />
Mon-Sat 11am-11pm, Sun 11am-10pm</li>
<br />
<li>Culina (Fusion) <br /> 
9914-89 Ave ph.437-5588 <br />
Fri 9am-3pm/5pm-10pm, Sat 10am-3pm/5pm-11pm</li>
<br />
<li>Dadeo (Cajun)<br />
10548a-82 Ave ph.433-0930<br /> 
Mon-Sat 11:30am-12am, Sun 12pm-10pm</li>
<br />
<li>Funky Pickle Pizza (Pizza)<br /> 
11152-82 Ave ph.434-9818<br />
Mon-Fri 11am-3:30am, Sat 12am-3:30am, Sun 12am-11am</li>
<br />
<li>Julio's Barrio (Mexican)<br />
10450-82 Ave ph.431-0774<br />
Mon-Sat 11:30am-12am, Sun 11:30am-10pm</li>
<br />
<li>The Keg Steakhouse and Bar (Steakhouse)<br />
8020 105 St.  ph. 432-7494</li>
<br />
<li>King and I (Thai)<br />
8208 107 St. ph. 433-2222</li>
<br />
<li>Langano Skies<br />
9920 82 Ave (780) 432-3334<br />
Tues-Thurs 4:30pm-10pm, Thurs 11am-2:30pm, Fri 11am-2:30pm, 4:30pm-11pm, Sat 12pm-2:30pm, 4:30pm-11pm, Sun 12pm-9pm<br />
Excellent Ethiopian restaurant with unique vegetarian options</li>
<br />
<li>Yiannis Taverna (Greek)<br />
10444-82 Ave ph.433-6768<br />
Mon-Fri 11:30am-12am, Sat 11:30am-12am, Sun 5pm-10pm</li>
</ul>
<hr />
<a name="downtown"></a><h4>Downtown</h4>
<ul>

<li>
Cafe Select<br />
405-10018 106 S.<br />
(780) 428-1629<br />
Mon-Thu 11am-12am; Fri 11am-2am; Sat 4pm-2am; Sun 4pm-12am</li>
Great spot for late night dining.<br />
<br />
<li>The Creperie<br />
111, 10220-103 St. (780) 420-6656<br />
Tues-Fri 11:30am-4:30pm, Tues-Thurs 4:30pm-9pm, Fri-Sat 5pm-10pm, Sun 5pm-9pm<br />
A cozy, romantic French restaurant, for casual or formal dining</li>
<br />

<li>Haweli Restaurant<br />
10220 103 St. (780) 421-8100<br />
Mon-Fri 11am-3pm, Sat 11am-10pm, Sun 5pm-9pm<br />
A very good Indian restaurant in the heart of downtown</li>
<br />

<li>L'Azia Restaurant<br />
10200 102 Ave. (780) 990-0188<br />
Mon-Fri 11am-11pm, Sat 10am-midnight, Sun 10:30am-11pm<br />
Your casual Asian fusion solution</li>
<br />

<li>Lux Steakhouse<br />
10150-101 St. (780) 424-0400<br />
Mon-Fri 11am-2:30pm, Mon-Thurs 5pm-10pm, Fri-Sat 5pm-11pm<br />
Fine dining for the hip steak lover</li>
<br />

<li>Ruth's Chris<br />
9990 Jasper Avenue (780) 990-0123<br />
Mon-Fri 11:30am-2 pm, Mon-Sun 5pm-10:30pm<br />
Casual to elegant dining for your Alberta beef fix</li>
<br />


</ul>
<hr />
<a name="nightlife"></a><h4>Nightlife</h4>
<p>To find out what's on in Edmonton during your conference stay contact <a href="http://www.tixonthesquare.ca">TIX on the Square</a>. TIX is a community box office that supplies tickets and information for the wealth of arts and festival events happening around Edmonton. In the mood for poetry, dance, theatre, a Fringe Festival hold-over or a Symphony Under the Sky? The staff at TIX can make helpful suggestions on what to see and do while you're in town.</p>

<ul>
<li><a href="http://www.tixonthesquare.ca">TIX on the Square</a> (www.tixonthesquare.ca)<br />
Phone: 780-420-1757<br />
Toll free: 1-877-888-1757<br />
<br />
TIX is located in downtown Edmonton on the SW corner of Sir Winston Churchill square. Box office hours are: 9:30 am - 6:00 pm Monday - Friday, 9:30 am - 4:00 pm Saturday, closed Sundays & statutory holidays.</li>
</ul>
<hr />

<a name="newbooks"></a><h4>New Books</h4>
<ul>

<li>Audreys Books<br />
10702 Jasper Ave<br />
(780) 423-3487</li>
<br />

<li>Chapters<br />
10504-82 Ave<br /> 
(780) 435-1290</li>
<br />

<li>Greenwoods<br />
7925-104 St.<br />
(780) 439-2005</li>
<br />

<li>Ukrainian Bookstore<br />
10215-97 St.<br />
(780) 422-4255</li>
<br />

<li>University of Alberta Bookstore<br />
9012-112 St.<br />
(780) 492-4464</li>
</ul>

<hr />
<a name="usedbooks"></a><h4>Used Books</h4>
<ul>
<li>Alhambra Books<br />
10115-81 Ave.<br />
(780) 439-4195</li>
<br />

<li>Belgravia Books & Treasures<br />
7609-115 St.<br />
(780) 429-1707</li>
<br />

<li>The Bookseller<br />
9562-82 Avenue<br />
(780) 496-9193</li>
<br />

<li>Broad Valley Books<br />
8207-105 St.<br />
(780) 988-1701</li>
<br />

<li>Dr. David Howell Books<br />
10533-82 Ave. (By Appointment Only)<br />
(780) 232-1042<br />
(780) 439-2692</li>
<br />

<li>Edmonton Bookstore<br />
11216-76 Ave.<br />
(780) 433-1781</li>
<br />

<li>Gritty Grotto Books<br />
10442-82 Ave<br />
(780) 433-9963</li>
<br />
<li>Old Strathcona Books<br />
8104 Gateway Boulevard<br />
(780) 436-2665</li>
<br />
<li>Wee Book Inn<br />
10328 Jasper Ave.<br />
(780) 423-1434</li>
</ul>

<hr />
<a name="comics"></a><h4>Comics</h4>
<ul>
<li>Happy Harbor Comics<br />
10326-81 Ave.<br />
(780) 439 - 8277</li>
<br />
<li>Wizards Comics and Collectibles<br />
8619-109 St.<br />
(780) 436-6611</li>
<br />
<li>Warp 1 Comics and Games<br />
9917-82 Ave.<br />
(780) 433-7119</li>
</ul>
<hr />