<h4 class="pageheader">Programme</h4>
<ul>
<li><a href="#speakers">Featured Speakers</a></li>
<li><a href="#programme">Programme</a></li>
</ul>
<hr />

<a name="speakers"></a><h4>Featured Speakers:</h4>

<p>
<strong>Christine Bold</strong> is Professor of English at the University of Guelph.  She is author of three books&#8212;<em>Writers, Plumbers, and Anarchists: The WPA Writers' Project in Massachusetts</em> (University of Massachusetts Press, 2006); <em>The WPA Guides: <em>Mapping America </em></em>(University Press of Mississippi, 1999); and <em>Selling the Wild West: Popular Western Fiction, 1860-1960</em> (Indiana University Press, 1987)&#8212;as well as numerous chapters and articles on popular culture and cultural memory. She has also coauthored the award-winning book <em>Remembering Women Murdered by Men: Memorials across Canada</em> (Sumach Press, 2006) by the Cultural Memory Group, a collaboration between academics and social justice workers. Professor Bold's scholarship has been supported by substantial grants from the Social Sciences and Humanities Research Council (SSHRC) of Canada and awards from the United States Embassy and the Canada-U.S. Fulbright Program. She has served as president of the Canadian Association for American Studies (1995-97) and has coedited the <em>Canadian Review of American Studies</em> (1991-97). Currently, she is writing a revisionist history of popular westerns, supported by a SSHRC research grant .
<br />
<strong>Presentation: &quot;Cowboys and Publishers: U.S. Popular Print Culture, 1880-1924&quot;</strong><br />
</p>

<p><strong>Paula Eykelhof</strong> is an Executive Editor at Harlequin and MIRA Books. She has been with the company,working  in-house, since 1986. She was responsible for running a number of romance series, as well as editing the work of mainstream authors like New York Times bestselling writer Debbie Macomber, with whom she has worked for almost 25 years. She has an MA in English from York University and has also been a researcher at the CBC.<br />
<strong>Presentation: &quot;From Writer to Reader &#8211; and Reader to Writer&quot;</strong><br /> 
</p>

<p><strong>Pierre Gamache</strong> is currently Director General in the Care of  Collection branch of Library and Archives Canada.  Pierre started his career in 1982 with the National Library of Canada in a music specialist position.  Throughout the years Pierre has occupied a variety of managerial positions at the National Library, including acting Director General in Research and Information Services. Pierre holds a Bachelor's Degree in Music History, and a Master's Degree in Library Science, both from McGill University.  His interest in popular culture dates back from previous experience in the music field. <br />
<strong>Presentation: &quot;Library and Archives Canada: Popular Content and Access &quot;</strong></p>
<p>
<strong>Adam Krims</strong> is Professor of Music Analysis at the University of Nottingham. He is author of the award-winning <em>Rap Music and the Poetics of Identity</em> and, most recently, <em>Music and Urban Geography</em> (Routledge 2007). He specializes in political economy, music recordings, and urban change.  He is currently researching classical recordings and spatial design in the context of urban development in Paris.<br />
<strong>Presentation: &quot;In What Sense is Hip-Hop Culture 'Urban'?&quot;</strong></p>

<p>
<strong>Joel Kroeker</strong> is an international performing artist on True North Records/Universal.  Since earning an MA in Ethnomusicology (University of Alberta) Joel has played over 500 solo shows touring extensively with Randy Bachman (The Guess Who), Bruce Cockburn, Hawksley Workman, Sarah Harmer and Colin James and had 19 of his songs covered last year.  Joel has just returned from touring Cambodia, Laos, Nepal and India.  Along with an ARIA award for "Film Score of the Year" his third album, "Closer to the Flame", just won "Album of the Year" and his bilingual song "D&eacute;j&aacute; vu" has been in the top 10 for 18 weeks after the video hit number one. <a href="http://www.joelkroeker.com">www.joelkroeker.com</a>.<br />
<strong>Presentation: &quot;Targeting Utterances through the Liminal Mist: How the Canadian Singer/Songwriter Uses Words, Music and Image to Negotiate Genre, National Identity and Aesthetic&quot;</strong></p>


<p><strong>Brian Maidment</strong> is Research Professor in the History of Print at Salford University, UK. He has written on a wide range of nineteenth century topics, including writing by working men and women, Ruskin, and Victorian periodicals. More recent work has been on visual culture in the 1820s and 1830s, especially the illustration of down market magazines, books and fiction, following on from his 1996 book Reading Popular Prints 1780-1870. His most recent book is Dusty Bob - A Cultural History of Dustmen 1790-1870 (2007) which draws on a broad range of texts and images drawn from journalism, fiction, the theatre and caricature. Current projects include a book called Comedy, Caricature and the Social Order 1820-1850 and editing the Victorian volume of the Oxford History of Popular Print Culture.<br />
<strong>Presentation: &quot;Graphic Bric-a-Brac? British Visual Culture and the Market Place 1820-1850&quot;</strong></p>


<p><strong>Richard Nile</strong> has held academic positions at: the University of Queensland, variously as Deputy Director, Executive Director and Director of the Australian Studies Centre (1993-2000); London as Deputy Director of the Menzies Centre (1989-1992); and the UWA and UNSW as a lecturer (1986-1989), before arriving at Curtin University in 2000 as the foundation Professor of Australian Studies and Director of the Australian Studies Centre (2000-2003) and the Australia Research Institute (2004-2008).  He was elected to the Royal Society of Arts in 2006 and appointed as the University of Copenhagen&#8217;s Distinguished Visiting Professor (Australian Studies) in 2007.  Professor Nile edited the <em>Journal of Australian Studies</em> for 11 years to 2007 before taking over Australian Culture and History (both are rated Class A journals), and has edited and produced the work of hundreds of scholars across approximately 1000 research publications.  He co-founded the International Australian Studies Association and the European Australian Studies Association, and created the Australian Public Intellectual Network <a href="http://www.api-network.com">http://www.api-network.com</a>. He serves on editorial boards across Australia, Europe, India, USA and Canada.  Professor Nile has published 16 books, including global editions and multiple translations, 40 refereed articles/chapters, 50+ feature articles for national media.<br />
<strong>Presentation: &quot;The Century Belongs to the Novelist&quot;</strong><br />
</p>

<p>
<strong>Janette Oke</strong> lives in Alberta, Canada, and is a writer of historical novels, children's stories, and inspirational gift books. Her first novel, a prairie love story titled <em>Love Comes Softly</em> (Bethany House, 1979), was followed by more than 75 other books, which have sold over 23 million copies and been translated into fourteen languages, reaching both religious and general markets. She has received numerous awards, including the Gold Medallion Award; The Christy Award of Excellence; the 1992 President's Award for significant contribution to Christian fiction, from the Evangelical Christian Publishers Association; and in 1999 the Life Impact Award from the Christian Booksellers Association International.  
</p>
<p><strong>Joad Raymond </strong>is Professor of English Literature at the University of East Anglia. He is the author of <em>The Invention of the Newspaper</em> (1996), <em>Pamphlets and Pamphleteering in Early Modern Britain</em> (2003), and the editor of books on newspaper history and Milton. He has written widely on literature, the book trade, news and political culture. He is presently completing a book entitled <em>Paradise Lost: Angels and the Early-Modern Imagination</em>, editing <em>The Oxford History of Popular Print Culture, vol. 1: Beginnings to 1660</em>, and editing Milton's Latin prose defences for the forthcoming <em>Complete Works</em>, all for Oxford University Press. 
<br />
<strong>Presentation: &quot;The origins of popular print culture&quot;</strong>
</p>


<p><strong>Trina Robbins</strong> is one of the original Underground comix artists of the 1960s/70s. She is a founding member of Wimmin's Comics, a feminist comics anthology that ran from the 70s to the 90s. She has also written critical texts on female cartoonists and characters, including <em>The Great Women Superheroes</em> and <em>Woman and Comics</em>.<br />
<strong> Presentation: &quot;Here are the Great Women Cartoonists&quot;</strong></p>

<hr />
<a name="programme"></a><h4>Programme</h4>

<p>The official programme is available for download <a href="PopPrintProgramme.pdf">here</a>.</p>
<hr />