<h4 class="pageheader">Registration</h4>
 
<ul>
<li><a href="#passes">Day Passes</a></li>
<li><a href="#packages">Full Conference Packages</a></li>
<li><a href="#cancel">Cancellation Policy</a></li>
</ul>
<hr />
<a name="passes"></a><h4>Day Passes</h4>
<p>&frac12; day and day passes will be available for the general public to attend sessions and workshops. They can be purchased on-site (2nd floor Humanities Building) during the conference through the Book Sale cashier. Payment on-site is CASH ONLY.</p>
<ul>
<li>&frac12; Day Pass: $10 + GST</li>
<li>Full Day Pass: $20 + GST</li>
</ul>
<hr />
<a name="packages"></a>
<h4>Full Conference Packages</h4>
<p>Registration fees for full conference packages include lunch, morning and afternoon coffee breaks and admission to all sessions and workshops. Conference participants have the opportunity to take advantage of special festival events related to session topics. Festival events are free and do not require conference registration. </p>
<p>The registration deadline has been extended to August 22nd. A late fee will apply after August 15th.</p>

<ul>
<li>Regular Conference Package: $150 + GST</li>
<li>Student Conference Package: $75 + GST</li>
</ul>

After August 15th:
<ul>
<li>Regular Conference Package: $175 + GST</li>
<li>Student Conference Package: $100 + GST</li>
</ul>

<p><strong>Registration for full conference packages is now closed.</strong></p>

<p>Fee payment can be made by credit card, cheque or money order through the online system. We will accept cheques and money orders in Canadian funds. Make out your cheque or money order to the University of Alberta (with popprint in the memo line). Please allow for up to 10 days if mailing within Canada and 14 days if mailing from the US or overseas. We will acknowledge receipt of cheque as soon as it arrives. Send your payment to Popprint, c/o Professor Gary Kelly, Department of English and Film Studies, Humanities Centre 3-5, Edmonton, Alberta, T6G 2E5, Canada.</p>


<hr />
<a name="cancel"></a><h4>Cancellation Policy</h4>
<p>If you must withdraw from the conference after you have registered, please inform us by
email at <a href="mailto:popprint@ualberta.ca">popprint@ualberta.ca</a>. There will be a processing fee of $50 to withdraw from the
conference. Unfortunately we still have to bear the costs charged to us by the university.
</p>
<hr />