<h4 class="pageheader">Travel Information</h4>

<ul>
<li><a href="#toconference">Getting to the Conference and Around</a></li>
<li><a href="#directions">Maps and Directions from Accommodations</a></li>
<li><a href="#toedmonton">Getting to Edmonton</a></li>
<li><a href="#aroundtown">Getting Around Edmonton</a></li>
<li><a href="#parking">Parking at the University of Alberta</a></li>
</ul>

<hr />

<a name="toconference"></a><h4>Getting to The Conference and Around</h4>
<p>The conference and festival events are being held in the Humanities Centre on the University of Alberta campus. The campus is conveniently located close to downtown Edmonton and to the Garneau and Old Strathcona neighbourhoods, where there are many shops and restaurants.</p> 
<ul>
<li><a href="http://www.campusmap.ualberta.ca" target="newwindow">Map of University of Alberta Campus</a></li>
<li><a href="http://maps.google.ca/maps?q=Humanities+Centre,+University+of+Alberta&amp;ie=UTF8&amp;oe=utf-8&amp;client=firefox-a&amp;cid=53527044,-113520033,221317647365009427&amp;ll=53.533778,-113.503189&amp;spn=0.071419,0.145912&amp;z=12&amp;source=embed" target="newwindow2">Map of Edmonton, Alberta</a></li>
<li>University of Alberta website: <a hreft="http://www.ualberta.ca">http://www.ualberta.ca</a></li>
<br /><a href="UofA_North_PopPrint08.pdf"><img src="/images/CampusMap-PopPrint.jpg" alt="Campus Map" border="0"/></a>
</ul>


<hr />

<a name="directions"></a>
<h4>Maps and Directions from Accommodations</h4>
<p>Follow the google map below from point A to point B -- then refer to the <a href="http://www.campusmap.ualberta.ca" target="newwindow2">campus map</a>. Point B on the google map is the equivalent of D8 on the campus map. From the campus map walk across the big grey patch marked NN (this is a parking lot) to the building with ID# 55 (Humanities Centre) located at D7.</p><ul>
<li><a href="http://maps.google.com/maps?f=d&saddr=11145+87+Ave+edmonton&daddr=111+St+NW+%4053.525692,+-113.517790&hl=en&geocode=12287023611542134674,53.525692,-113.517790&mra=ls&dirflg=w&sll=53.52172,-113.5085&sspn=0.016456,0.037808&ie=UTF8&ll=53.52429,-113.51848&spn=0.008228,0.018904&z=16" target="newwindow">Campus Towers</a></li>
<li><a href="http://maps.google.com/maps?f=d&saddr=10454+82+Ave+NW,+Edmonton,+Alberta,+Alberta,+Canada&daddr=53.525692,-113.517694&hl=en&geocode=16940477490729573510,53.525360,-113.517790&mra=dme&mrcr=0&mrsp=1&sz=15&dirflg=w&sll=53.52172,-113.5085&sspn=0.016456,0.037808&ie=UTF8&z=15" target="newwindow">Varscona Hotel</a></li>  
<li><a href="http://maps.google.com/maps?f=d&saddr=10454+82+Ave+NW,+Edmonton,+Alberta,+Alberta,+Canada&daddr=53.525692,-113.517694&hl=en&geocode=16940477490729573510,53.525360,-113.517790&mra=dme&mrcr=0&mrsp=1&sz=15&dirflg=w&sll=53.52172,-113.5085&sspn=0.016456,0.037808&ie=UTF8&z=15" target="newwindow">The Mettera</a></li>
<li><a href="http://maps.google.com/maps?f=d&saddr=10647+81+Ave+edmonton&daddr=53.525845,-113.51778&hl=en&geocode=15693292083094711392,53.525666,-113.517790&mra=dme&mrcr=0&mrsp=1&sz=15&dirflg=w&sll=53.524289,-113.507824&sspn=0.016175,0.035405&ie=UTF8&z=15" target="newwindow">Edmonton Youth Hostel</a></li>
</ul>

</p>

<hr />
<a name="toedmonton"></a><h4>Getting to Edmonton</h4>
<p>The Edmonton International Airport is located 35 km south of downtown Edmonton. There is no public transit from the airport. Shuttle service into town is available via Sky Shuttle, which has two stops near the university and conference accommodations (Campus Tower and Varscona Hotel). The Sky Shuttle is located at Gate 7 at Edmonton International Airport. Rates are $15 (one way), $25 return. Yellow Cab offers a flat rate of $42 to and from the airport.
</p>
<ul>
<li><a href="http://www.edmontonairports.com">Edmonton International Airport</a></li> 
<li><a href="http://www.edmontontaxiservicegroup.com/skyshuttle">Sky Shuttle</a></li>
<li><a href="http://www.edmontontaxiservicegroup.com/skyshuttle/schedules.html">Yellow Cab</a></li>
</ul>
<hr />
<a name="aroundtown"></a><h4>Getting Around Edmonton</h4>
<p>Edmonton has a good local bus and light rail transit system. ETS offers bus and Light Rail Transit service, as well as transportation to persons with disabilities, called the Disabled Adult Transit Service (DATS). Bus and LRT fare is $2.25, and is good for a 90 minute round trip. There are direct bus routes to and an LRT stop on the University campus. In addition there are many amenities within walking distance of the university.
</p> 
<ul>
<li><a href="http://www.edmonton.ca/portal/server.pt?space=CommunityPage&control=SetCommunity&CommunityID=238 ">Edmonton Transit Trip Planner</a><br />
Just enter your current location and destination, and Edmonton Transit will show you how it will get you there.</li> 
</ul>

<hr />
<a name="parking"></a><h4>Parking at the University of Alberta</h4>
<p>Please consult the University of Alberta Parking Services website and the University of Alberta Campus Parking Map. Parking is approximately $10 per day.</p> 
<ul>
<li><a href="http://www.uofaweb.ualberta.ca/parking/">Parking Services</a></li>
<li><a href="http://www.uofaweb.ualberta.ca/parking/nav01.cfm?nav01=22179&">University of Alberta Parking Map</a></li>
</ul>
<hr />